<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.NeoTrans" description="Common content and settings" extends="Helix.Base">
                    <predicate>
                        <include name="Media" database="master" path="/sitecore/media library/NeoTrans Translation" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>